@import "tailwindcss";
@theme {  --color-dark: #3D8D7A;}
@theme {  --color-medium: #4F959D;}
@theme {  --color-start-grad: #3D8D7A;}
@theme {  --color-end-grad: #4F959D;}

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
