<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello there!</title>
</head>
<body>
    <table>
        <tr>
            <th>BOOKS</th>
        </tr>
        <tr th:each="b: ${books}">
            <td th:text="${b.getKey()}"></td>
            <td th:text="${b.getValue().getDetails().title}"></td>
            <td th:text="${b.getValue().getDetails().pageNumber}"></td>
            <td th:text="${b.getValue().getDetails().authors}"></td>
            <td th:text="${b.getValue().getDetails().isbn13}"></td>
            <td th:each="gen: ${b.getValue().getDetails().genres}"></td>
        </tr>
    </table>

</body>
</html>